# Java (Spring Boot)
backend/build/
backend/.gradle/
backend/.idea/
*.log

# Node (React)
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/dist/
frontend/.idea/

# macOS / system
.DS_Store
.env